<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- DDBB Config -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/puchol</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">1234</property>

        <!-- MySQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Hibernate config -->
        <property name="hibernate.show_sql">false</property>  <!-- Show SQL query on console -->
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">validate</property>

        <property name="hibernate.connection.autocommit">false</property>
        <property name="hibernate.transaction.coordinator_class">jdbc</property>
        <property name="hibernate.globally_quoted_identifiers">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>


        <!-- Mapped Classes -->
        <mapping class="com.luis.facturacion.mvc_article.database.ArticleEntity"/>
        <mapping class="com.luis.facturacion.mvc_client.database.ClientEntity"/>
        <mapping class="com.luis.facturacion.mvc_deliveryNote.DeliveryNoteItemEntity"/>
        <mapping class="com.luis.facturacion.mvc_deliveryNote.DeliveryNoteEntity"/>
        <mapping class="com.luis.facturacion.mvc_vatConfig.database.VATConfigEntity"/>
        <mapping class="com.luis.facturacion.mvc_invoice.database.InvoiceEntity"/>
        <mapping class="com.luis.facturacion.mvc_correctiveInvoice.database.CorrectiveInvoiceEntity"/>

   </session-factory>
</hibernate-configuration>
