<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Configuración de la base de datos -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/puchol</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">1234</property>

        <!-- Dialecto de MySQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Configuración de Hibernate -->
        <property name="hibernate.show_sql">true</property>  <!-- Muestra las consultas SQL en consola -->
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">validate</property>

        <property name="hibernate.connection.autocommit">false</property>
        <property name="hibernate.transaction.coordinator_class">jdbc</property>
        <property name="hibernate.globally_quoted_identifiers">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>


        <!-- Definir la clase mapeada -->
        <mapping class="com.luis.facturacion.mvc_article.database.ArticleEntity"/>
        <mapping class="com.luis.facturacion.mvc_client.database.ClienteEntity"/>
        <!--<mapping class="com.luis.facturacion.mvc_factura.database.FacturaEntity"/>
        <mapping class="com.luis.facturacion.mvc_formaPago.database.FormaDePagoEntity"/>
        <mapping class="com.luis.facturacion.mvc_rectificativa.database.RectificativaEntity"/>
        <mapping class="com.luis.facturacion.mvc_tipoIva.database.TipoDeIvaEntity"/>
        -->

   </session-factory>
</hibernate-configuration>
